@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    background-color:#fafafa ;
    font-family: 'Permanent Marker', cursive;
}

.dice{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: black;
    animation: spin 0 linear infinite;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}